examples/interaction-patterns/patterns-partner-A/src/main/resources/p13_dynamic_routing/global-data-model_a.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bpt.hpi.uni-potsdam.de/data"
	elementFormDefault="qualified" targetNamespace="http://bpt.hpi.uni-potsdam.de/data"
	xmlns:bpmndata="http://bpt.hpi.uni-potsdam.de/bpmn-data/">

	<complexType name="AtoB_P13">
		<annotation>
			<appinfo>
				<bpmndata:correlationIdentifier	attributeName="id_from_a" />
				<bpmndata:message />
			</appinfo>
		</annotation>
		<sequence>
			<element name="id_from_a" type="string" />
			<element name="request_text" type="string" />
		</sequence>
	</complexType>

</schema>
